[submodule "checkpoints/HiFi-Glot"]
	path = checkpoints/HiFi-Glot
	url = https://huggingface.co/ljuvela/SourceFilterNeuralFormantSynthesisE2E
[submodule "checkpoints/NFS"]
	path = checkpoints/NFS
	url = https://huggingface.co/ljuvela/NeuralFormantSynthesis
[submodule "checkpoints/NFS-E2E"]
	path = checkpoints/NFS-E2E
	url = https://huggingface.co/ljuvela/NeuralFormantSynthesisE2E